.search-results {
  background: transparent;
  margin: 0 auto;
  padding: 1rem 1rem 0;
  max-width: var(--container-max-width);

  .articles__list {
    margin: 2rem auto;
  }
}

.search-results__section-title {
  font-family: var(--font-secondary), sans-serif;
  font-size: var(--fs-h2);
  margin: 2rem 0 0;
}

.search-results__empty {
  font-size: 1.1rem;
  color: var(--font-color-muted);
  margin: 3rem auto;
  text-align: center;
}
