.page-header {
  background-color: var(--color-primary);
  padding: clamp(3rem, 10vw, 6rem) clamp(1rem, 5vw, 5rem);
  margin: 0;
}

.page-header__container {
  max-width: calc(var(--container-max-width) - 200px);
  margin: auto;
  padding: 0 2rem;
}

.page-header__title {
  font-family: var(--font-secondary), sans-serif;
  font-size: var(--fs-h1);
  font-weight: 800;
  margin: 0;
  text-align: left;
  color: var(--color-light);
}
