/* ---------- Checkboxes ---------- */

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-primary);
  cursor: pointer;
  display: inline-grid;
  place-content: center;
  vertical-align: middle;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;

  &::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--white);
    background-color: CanvasText;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &:checked::before {
    transform: scale(1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    & + label {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
